<aside class="character-sidebar-sheet">
    {{#if isDeath}}
        <div class="death-warning">
            <a class="death-roll-btn" data-tooltip="DAGGERHEART.UI.Tooltip.makeDeathMove" data-action="makeDeathMove">
                <i class="fa-solid fa-skull death-save"></i>
                <span>Death Save</span>
            </a>
        </div>
    {{/if}}
    <div class="advancement-section">
        <div class="section-title">
            <i class="fa-solid fa-star"></i>
            <h3>Advancement</h3>
        </div>
        <div class="advancement-grid">
            <div class="advancement-item">
                <div class="advancement-value">{{document.system.levelData.level.changed}}</div>
                <div class="advancement-label">Level</div>
            </div>
            <div class="advancement-item">
                <div class="advancement-value">{{document.system.proficiency}}</div>
                <div class="advancement-label">Prof.</div>
            </div>
            <div class="advancement-item advancement-highlight">
                <div class="advancement-value">{{document.system.armor.system.armorValue}}</div>
                <div class="advancement-label">Armor</div>
            </div>
            <div class="advancement-item advancement-highlight">
                <div class="advancement-value">{{document.system.evasion}}</div>
                <div class="advancement-label">Evasion</div>
            </div>
        </div>
    </div>
        <div class="thresholds-section">
            <div class="section-title">
                <i class="fa-solid fa-shield-halved"></i>
                <h3>Threshold</h3>
            </div>
            <div class="threshold-grid">
                <div class="threshold-item minor">
                    <div class="threshold-marker">1</div>
                    <div class="threshold-label">{{localize "DAGGERHEART.GENERAL.DamageThresholds.minor"}}</div>
                </div>
                <div class="threshold-item major">
                    <div class="threshold-marker">{{document.system.damageThresholds.major}}</div>
                    <div class="threshold-label">{{localize "DAGGERHEART.GENERAL.DamageThresholds.major"}}</div>
                </div>
                <div class="threshold-item severe">
                    <div class="threshold-marker">{{document.system.damageThresholds.severe}}</div>
                    <div class="threshold-label">{{localize "DAGGERHEART.GENERAL.DamageThresholds.severe"}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="shortcut-items-section">
        <div class="equipment-section">
            <div class="title">
                <side-line-div class="invert"></side-line-div>
                <h3>{{localize "DAGGERHEART.GENERAL.equipment"}}</h3>
                <side-line-div></side-line-div>
            </div>
            <ul class="items-sidebar-list">
                {{#if document.system.usedUnarmed}}
                    {{> 'daggerheart.inventory-item'
                    item=document.system.usedUnarmed
                    type='action'
                    hideTags=true
                    hideDescription=true
                    hideResources=true
                    noExtensible=true
                    }}
                {{/if}}
                {{#each document.items as |item|}}
                {{#if item.system.equipped}}
                {{> 'daggerheart.inventory-item'
                item=item
                type=item.type
                hideTags=true
                hideDescription=true
                hideResources=true
                noExtensible=true
                }}
                {{/if}}
                {{/each}}
            </ul>
        </div>
        <div class="loadout-section">
            <div class="title">
                <side-line-div class="invert"></side-line-div>
                <h3>{{localize "DAGGERHEART.GENERAL.loadout"}}</h3>
                <side-line-div></side-line-div>
            </div>
            <ul class="items-sidebar-list">
                {{#each document.system.domainCards.loadout as |card|}}
                {{> 'daggerheart.inventory-item'
                    item=card
                    type='domainCard'
                    hideTags=true
                    hideDescription=true
                    hideResources=true
                    noExtensible=true
                }}

                {{/each}}
            </ul>
        </div>
        <div class="experience-section">
            <div class="title">
                <side-line-div class="invert"></side-line-div>
                <h3>{{localize "DAGGERHEART.GENERAL.experience.single"}}</h3>
                <side-line-div></side-line-div>
            </div>
            <div class="experience-list">
                {{#each document.system.experiences as |experience id|}}
                    <div class="experience-row" data-tooltip-text="{{experience.description}}">
                        <div class="experience-value">
                            +{{experience.value}}
                        </div>
                        <span>{{experience.name}}</span>
                        <div class="controls">
                            <a data-action="sendExpToChat" data-type="experience" data-id="{{id}}">
                                <i class="fa-regular fa-message"></i>
                            </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</aside>