<aside class="character-sidebar-sheet">

    <div class="top-info-container">
        <div class="title">
            <!--<side-line-div class="invert"></side-line-div>-->
            <h3>{{localize "DAGGERHEART.GENERAL.Tabs.information"}}</h3>
            <!--<side-line-div></side-line-div>-->
        </div>

        <div class="information-section">
            <div class="resources-section {{#if enableResourcePips}}pip-mode{{/if}}">
            {{#if enableResourcePips}}
            <div class="resource-bar-section hp">
                <div class="resource-info">
                    <span class="resource-label">{{localize "DAGGERHEART.GENERAL.HitPoints.short"}}</span>
                    <span class="resource-value">{{document.system.resources.hitPoints.value}} / {{document.system.resources.hitPoints.max}}</span>
                </div>
                <div class="resource-slots">
                    {{#times document.system.resources.hitPoints.max}}
                    <span class='resource-slot hp-slot {{#if (gte @root.document.system.resources.hitPoints.value (add this 1))}}filled{{/if}}'
                        data-action='toggleHitPoints' data-value="{{add this 1}}"
                        data-tooltip="Toggle HP">
                        {{#if (gte @root.document.system.resources.hitPoints.value (add this 1))}}
                        <img src="modules/daggerheart-plus/assets/icons/general/heart-slash.svg" alt="damaged">
                        {{else}}
                        <img src="modules/daggerheart-plus/assets/icons/general/heart.svg" alt="healthy">
                        {{/if}}
                    </span>
                    {{/times}}
                </div>
            </div>
            <div class="resource-bar-section stress">
                <div class="resource-info">
                    <span class="resource-label">{{localize "DAGGERHEART.GENERAL.stress"}}</span>
                    <span class="resource-value">{{document.system.resources.stress.value}} / {{document.system.resources.stress.max}}</span>
                </div>
                <div class="resource-slots">
                    {{#times document.system.resources.stress.max}}
                    <span class='resource-slot stress-slot {{#if (gte @root.document.system.resources.stress.value (add this 1))}}filled{{/if}}'
                        data-action='toggleStress' data-value="{{add this 1}}"
                        data-tooltip="Toggle Stress">
                        {{#if (gte @root.document.system.resources.stress.value (add this 1))}}
                        <img src="modules/daggerheart-plus/assets/icons/general/stress-slash.svg" alt="stressed">
                        {{else}}
                        <img src="modules/daggerheart-plus/assets/icons/general/stress.svg" alt="calm">
                        {{/if}}
                    </span>
                    {{/times}}
                </div>
            </div>
            {{else}}
            <div class="status-bar" style="--value: {{document.system.resources.hitPoints.value}}; --max: {{document.system.resources.hitPoints.max}};">
                <div class='status-value' data-value="{{document.system.resources.hitPoints.value}}" data-max="{{document.system.resources.hitPoints.max}}">
                </div>
                <progress
                    class='progress-bar hp-color'
                    data-field="resources.hitPoints.value"
                    max='{{document.system.resources.hitPoints.max}}'
                    value='{{document.system.resources.hitPoints.value}}'
                    style='--value: {{document.system.resources.hitPoints.value}}; --max: {{document.system.resources.hitPoints.max}};'
                    aria-label='{{localize "DAGGERHEART.GENERAL.HitPoints.short"}}'
                ></progress>
                <div class="status-label">
                    <h4>{{localize "DAGGERHEART.GENERAL.HitPoints.short"}}</h4>
                </div>

            </div>
            <div class="status-bar" style="--value: {{document.system.resources.stress.value}}; --max: {{document.system.resources.stress.max}};">
                <div class='status-value' data-value="{{document.system.resources.stress.value}}" data-max="{{document.system.resources.stress.max}}">
                </div>
                <progress
                    class='progress-bar stress-color'
                    data-field="resources.stress.value"
                    value='{{document.system.resources.stress.value}}'
                    min="0"
                    max='{{document.system.resources.stress.max}}'
                    style='--value: {{document.system.resources.stress.value}}; --max: {{document.system.resources.stress.max}};'
                    aria-label='{{localize "DAGGERHEART.GENERAL.stress"}}'
                ></progress>
                <div class="status-label">
                    <h4>{{localize "DAGGERHEART.GENERAL.stress"}}</h4>
                </div>
            </div>
            {{/if}}
        </div>

        {{#if enableResourcePips}}
            {{#if document.system.armor.system.marks}}
            <div class="resource-bar-section armor">
                <div class="resource-info">
                    <span class="resource-label">{{localize "DAGGERHEART.GENERAL.armorSlots"}}</span>
                    <span class="resource-value">{{document.system.armor.system.marks.value}} / {{document.system.armorScore}}</span>
                </div>
                <div class="resource-slots armor-slots">
                    {{#times document.system.armorScore}}
                    <span class='resource-slot armor-slot {{#if (gte @root.document.system.armor.system.marks.value (add this 1))}}filled{{/if}}'
                        data-action='toggleArmorSlot' data-item-uuid="{{@root.document.system.armor.uuid}}" data-value="{{add this 1}}"
                        data-tooltip="Toggle Armor">
                        {{#if (gte @root.document.system.armor.system.marks.value (add this 1))}}
                        <img src="modules/daggerheart-plus/assets/icons/general/shield-slash.svg" alt="used">
                        {{else}}
                        <img src="modules/daggerheart-plus/assets/icons/general/shield.svg" alt="available">
                        {{/if}}
                    </span>
                    {{/times}}
                </div>
            </div>
            {{/if}}
        {{else}}
            {{#if document.system.resources.armor.max}}
                <div class="status-bar armor-slots" style="--value: {{document.system.resources.armor.value}}; --max: {{document.system.resources.armor.max}};">
                    <div class='status-value' data-value="{{document.system.resources.armor.value}}" data-max="{{document.system.resources.armor.max}}">
                    </div>
                    <progress
                        class='progress-bar armor-color'
                        data-field="resources.armor.value"
                        value='{{document.system.resources.armor.value}}'
                        max='{{document.system.resources.armor.max}}'
                        style='--value: {{document.system.resources.armor.value}}; --max: {{document.system.resources.armor.max}};'
                        aria-label='{{localize "DAGGERHEART.GENERAL.armorSlots"}}'
                    ></progress>
                    <div class="status-label">
                        <h4>{{localize "DAGGERHEART.GENERAL.armorSlots"}}</h4>
                    </div>
                </div>
            {{else}}
                {{#if document.system.armorScore}}
                    <div class="status-bar armor-slots" style="--value: {{document.system.resources.armor.value}}; --max: {{document.system.armorScore}};">
                        <div class='status-value' data-value="{{document.system.resources.armor.value}}" data-max="{{document.system.armorScore}}">
                        </div>
                        <progress
                            class='progress-bar armor-color'
                            data-field="resources.armor.value"
                            value='{{document.system.resources.armor.value}}'
                            max='{{document.system.armorScore}}'
                            style='--value: {{document.system.resources.armor.value}}; --max: {{document.system.armorScore}};'
                            aria-label='{{localize "DAGGERHEART.GENERAL.armorSlots"}}'
                        ></progress>
                        <div class="status-label">
                            <h4>{{localize "DAGGERHEART.GENERAL.armorSlots"}}</h4>
                        </div>
                    </div>
                {{else}}
                    <div class="status-number armor-slots">
                        <div class='status-value'>
                            <p>-</p>
                        </div>
                        <div class="status-label">
                            <h4>{{localize "DAGGERHEART.GENERAL.armorSlots"}}</h4>
                        </div>
                    </div>
                {{/if}}
            {{/if}}
        {{/if}}

        <div class="status-section">
            <div class="status-number">
                <div class='status-value'>
                    <p>{{document.system.evasion}}</p>
                </div>
                <div class="status-label">
                    <h4>{{localize "DAGGERHEART.GENERAL.evasion"}}</h4>
                </div>
            </div>

            <div class="status-number">
                <div class='status-value'>
                    <p>{{document.system.proficiency}}</p>
                </div>
                <div class="status-label">
                    <h4>{{localize "DAGGERHEART.GENERAL.proficiency"}}</h4>
                </div>
            </div>
        </div>
        </div>

    </div>


    <div class="shortcut-items-section">
        <div class="equipment-section">
            <div class="title">
                <side-line-div class="invert"></side-line-div>
                <h3>{{localize "DAGGERHEART.GENERAL.equipment"}}</h3>
                <side-line-div></side-line-div>
            </div>
            <ul class="items-sidebar-list">
                {{#if document.system.usedUnarmed}}
                {{> 'daggerheart.inventory-item-compact'
                    item=document.system.usedUnarmed
                    type='attack'
                }}
                {{/if}}
                {{#each document.items as |item|}}
                {{#if item.system.equipped}}
                {{> 'daggerheart.inventory-item-compact'
                    item=item
                    type=item.type
                }}
                {{/if}}
                {{/each}}
            </ul>
        </div>
        {{#unless enableCharacterSheetSidebars}}
        <div class="loadout-section">
            <div class="title">
                <!--<side-line-div class="invert"></side-line-div>-->
                <h3>{{localize "DAGGERHEART.GENERAL.loadout"}}</h3>
                <!--<side-line-div></side-line-div>-->
            </div>
            <ul class="items-sidebar-list">
                {{#each document.system.domainCards.loadout as |card|}}
                {{> 'daggerheart.inventory-item'
                    item=card
                    type='domainCard'
                    hideTags=true
                    hideDescription=true
                    hideResources=true
                    noExtensible=true
                }}

                {{/each}}
            </ul>
        </div>
        {{/unless}}
        <div class="experience-section">
            <div class="title">
                <!--<side-line-div class="invert"></side-line-div>-->
                <h3>{{localize "DAGGERHEART.GENERAL.experience.single"}}</h3>
                <!--<side-line-div></side-line-div>-->
            </div>
            <div class="experience-list">
                {{#each document.system.experiences as |experience id|}}
                    <div class="experience-row" data-tooltip-text="{{experience.description}}">
                        <div class="experience-value">
                            +{{experience.value}}
                        </div>
                        <span>{{experience.name}}</span>
                        <div class="controls">
                            <a data-action="sendExpToChat" data-type="experience" data-id="{{id}}">
                                <i class="fa-regular fa-message"></i>
                            </a>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</aside>
