<header class='party-header-sheet'>
    <div class="header-main-section">
        <div class="header-portrait">
            <img src='{{source.img}}' alt='{{source.name}}' data-action='editImage' data-edit='img' />
            <div class="quick-actions">
                <button type="button" data-action="triggerRest" data-type="shortRest" data-tooltip="{{localize "DAGGERHEART.APPLICATIONS.Downtime.shortRest.title"}}">
                    <i class="fa-solid fa-utensils"></i>
                </button>
                <button type="button" data-action="triggerRest" data-type="longRest" data-tooltip="{{localize "DAGGERHEART.APPLICATIONS.Downtime.longRest.title"}}">
                    <i class="fa-solid fa-bed"></i>
                </button>
            </div>
        </div>
        
        <div class="header-info-column">
            <div class="party-name-section">
                <h1 class='party-name'>
                    <input type='text' name='name' value='{{source.name}}' placeholder='Party Name' />
                </h1>
                <div class="party-subtitle">
                    <span class="party-label">Party of {{document.system.partyMembers.length}}</span>
                </div>
            </div>
        </div>
    </div>

</header>