<section
    class='tab {{tabs.notes.cssClass}} {{tabs.notes.id}}'
    data-tab='{{tabs.notes.id}}'
    data-group='{{tabs.notes.group}}'
>
    <fieldset class="notes-section glassy">
        <legend>{{localize tabs.notes.label}}</legend>
        <div class="notes-editor">
            {{formInput notes.field value=notes.value enriched=notes.value toggled=true}}
        </div>
    </fieldset>
</section>