<section
    class='tab {{tabs.notes.cssClass}} {{tabs.notes.id}}'
    data-tab='{{tabs.notes.id}}'
    data-group='{{tabs.notes.group}}'
>
    <div class="items-section">
        <fieldset>
            <legend>{{localize tabs.notes.label}}</legend>
            {{formInput notes.field value=notes.value enriched=notes.value toggled=true}}
        </fieldset>
    </div>
</section>