<section
    class='tab {{tabs.partyMembers.cssClass}} {{tabs.partyMembers.id}}'
    data-tab='{{tabs.partyMembers.id}}'
    data-group='{{tabs.partyMembers.group}}'
>

    <div class="party-actions-bar">
        <button class="action-btn primary" data-action="tagTeamRoll">
            <i class="fa-solid fa-user-group"></i>
            <span>Tag Team Roll</span>
        </button>
        <button class="action-btn primary" data-action="groupRoll">
            <i class="fa-solid fa-users"></i>
            <span>Group Roll</span>
        </button>
    </div>

    <fieldset class="party-members-section glassy">
        <legend>{{localize tabs.partyMembers.label}}</legend>
        <ul class="members-grid-balanced">
            {{#each document.system.partyMembers as |actor id|}}
                <li class="inventory-item member-card-balanced" data-item-id="{{actor.id}}" data-item-uuid="{{actor.uuid}}" data-type="character" draggable="true">
                    <div class="inventory-item-header member-header-row">
                        <div class="img-portait member-portrait-balanced" data-action="editDoc" data-tooltip="#item#{{actor.uuid}}">
                            <img src="{{actor.img}}" alt="{{actor.name}}" class="item-img actor-img">
                            {{#if actor.system.levelData.level.changed}}
                                <span class="member-level-badge">{{actor.system.levelData.level.changed}}</span>
                            {{/if}}
                        </div>
                        <div class="item-label member-info-balanced">
                            <span class="item-name member-name">{{actor.name}}</span>
                            <div class="item-tags member-class">
                                {{#if actor.system.class.value}}
                                    <div class="tag">{{actor.system.class.value.name}}</div>
                                {{/if}}
                                {{#if actor.system.class.subclass}}
                                    <div class="tag subclass">{{actor.system.class.subclass.name}}</div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="controls member-actions-balanced">
                            <a data-action="editDoc" data-tooltip="DAGGERHEART.UI.Tooltip.openActorWorld">
                                <i class="fa-solid fa-globe"></i>
                            </a>
                            <a data-action="deletePartyMember" data-tooltip="CONTROLS.CommonDelete">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    </div>
                    <div class="inventory-item-content member-stats-balanced">
                        <div class="stat-balanced hp">
                            <i class="fa-solid fa-heart"></i>
                            <span class="stat-label">HP</span>
                            <span class="stat-value">{{actor.system.resources.hitPoints.value}}/{{actor.system.resources.hitPoints.max}}</span>
                        </div>
                        <div class="stat-balanced stress">
                            <i class="fa-solid fa-brain"></i>
                            <span class="stat-label">Stress</span>
                            <span class="stat-value">{{actor.system.resources.stress.value}}/{{actor.system.resources.stress.max}}</span>
                        </div>
                        <div class="stat-balanced evasion">
                            <i class="fa-solid fa-shield"></i>
                            <span class="stat-label">Evasion</span>
                            <span class="stat-value">{{actor.system.evasion}}</span>
                        </div>
                        <div class="stat-balanced hope">
                            <i class="fa-solid fa-diamond"></i>
                            <span class="stat-label">Hope</span>
                            <span class="stat-value">{{actor.system.resources.hope.value}}/{{actor.system.resources.hope.max}}</span>
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
        {{#unless document.system.partyMembers.length}}
            <div class="empty-state-balanced">
                <i class="fa-solid fa-users-slash"></i>
                <span>{{localize "DAGGERHEART.GENERAL.dropActorsHere"}}</span>
            </div>
        {{/unless}}
    </fieldset>
</section>