<div class="domain-ability-sidebar-container">
    <div class="sidebar-header">
        <h3>{{localize "Domain Abilities"}}</h3>
    </div>
    
    <div class="sidebar-content">
        {{#each abilities}}
            <div class="ability-section" data-section="{{@key}}">
                <h4 class="section-label">{{this.label}}</h4>
                
                <div class="ability-slots">
                    {{#each this.items}}
                        <div class="domain-ability-button" data-item-id="{{this.id}}">
                            <img src="{{this.img}}" alt="{{this.name}}" class="ability-image">
                            <div class="ability-name">{{this.name}}</div>
                            
                            {{#if this.hasTrackers}}
                                <div class="tracker-bubbles">
                                    {{#if this.system.uses.max}}
                                        <div class="tracker-bubble uses-tracker" data-current="{{this.system.uses.current}}" data-max="{{this.system.uses.max}}">
                                            {{this.system.uses.current}}/{{this.system.uses.max}}
                                        </div>
                                    {{/if}}
                                </div>
                            {{/if}}
                            
                            <div class="slot-overlay">
                                <button class="overlay-button edit-button" data-action="editItem" data-tooltip="Edit">
                                    <i class="fa-solid fa-edit"></i>
                                </button>
                                <button class="overlay-button delete-button" data-action="deleteItem" data-tooltip="Delete">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                                <button class="overlay-button vault-button" data-action="moveToVault" data-tooltip="Move to Vault">
                                    <i class="fa-solid fa-archive"></i>
                                </button>
                            </div>
                        </div>
                    {{else}}
                        <div class="domain-ability-slot empty" data-slot-type="{{@../key}}">
                            <div class="empty-slot-content">
                                <i class="fa-solid fa-plus"></i>
                                <span>Add {{this.label}}</span>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </div>
</div>
