<div class="header-loadout-container">
    <div class="loadout-slots">
        {{#each loadoutItems}}
            {{#if this}}
                <div class="loadout-card-slot filled" data-item-id="{{this.id}}">
                    <div class="loadout-card">
                        <img src="{{this.img}}" alt="{{this.name}}" class="card-image">
                        <div class="card-info">
                            <h4 class="card-title">{{this.name}}</h4>
                            <span class="card-type">{{@key}}</span>
                        </div>
                        
                        <div class="slot-overlay">
                            <button class="overlay-button edit-button" data-action="editItem" data-tooltip="Edit">
                                <i class="fa-solid fa-edit"></i>
                            </button>
                            <button class="overlay-button delete-button" data-action="deleteItem" data-tooltip="Delete">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            {{else}}
                <div class="loadout-card-slot empty" data-slot-type="{{@key}}">
                    <div class="empty-loadout-slot">
                        <i class="fa-solid fa-plus"></i>
                        <span>{{capitalize @key}}</span>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
</div>
