<header class="companion-header-sheet">
    <div class="portrait">
        <img src="{{document.img}}" alt="{{document.name}}" data-action='editImage' data-edit="img">
    </div>
    <div class="char-info">
        <h1 class='actor-name'>
        <input
            type='text'
            name='name'
            value='{{document.name}}'
            placeholder='{{localize "DAGGERHEART.GENERAL.actorName"}}'
        />
        </h1>
        <div class='level-div'>
            <h3 class='label'>
                {{localize 'DAGGERHEART.GENERAL.level'}}
            </h3>
            <div class="input-section">
                    {{#if document.system.levelData.canLevelUp}}
                        <button
                            type="button"
                            class="level-button glow" data-tooltip="{{localize "DAGGERHEART.ACTORS.Character.levelUp"}}"
                            data-action="levelManagement"
                        >
                            <i class="fa-solid fa-angles-up"></i>
                        </button>
                    {{/if}}
                    <span {{#unless document.system.partner}}data-tooltip="{{localize "DAGGERHEART.UI.Tooltip.companionPartnerLevelBlock"}}"{{/unless}}>
                        <input type="text" data-dtype="Number" class="level-value" value={{document.system.levelData.level.changed}} {{#if document.system.needsCharacterSetup}}disabled{{/if}} {{disabled (not document.system.partner)}} />
                    </span>
                </div>
        </div>
    </div>
    <div class="statuses-section {{#if enableResourcePips}}pip-mode{{/if}}">
        <div class="status-number">
            <div class='status-value'>
                <p>{{document.system.evasion}}</p>
            </div>
            <div class="status-label">
                <h4>{{localize "DAGGERHEART.GENERAL.evasion"}}</h4>
            </div>
        </div>
        {{#if enableResourcePips}}
        <div class="resource-bar-section stress">
            <div class="resource-info">
                <span class="resource-label">{{localize "DAGGERHEART.GENERAL.stress"}}</span>
                <span class="resource-value">{{document.system.resources.stress.value}} / {{document.system.resources.stress.max}}</span>
            </div>
            <div class="resource-slots">
                {{#times document.system.resources.stress.max}}
                <span class='resource-slot stress-slot {{#if (gte @root.document.system.resources.stress.value (add this 1))}}filled{{/if}}'
                    data-action='toggleStress' data-value="{{add this 1}}"
                    data-tooltip="Toggle Stress">
                </span>
                {{/times}}
            </div>
        </div>
        {{else}}
        <div class="status-bar" style="--value: {{document.system.resources.stress.value}}; --max: {{document.system.resources.stress.max}};">
            <div class='status-value' data-value="{{document.system.resources.stress.value}}" data-max="{{document.system.resources.stress.max}}">
            </div>
            <progress
                class='progress-bar stress-color'
                data-field="resources.stress.value"
                value='{{document.system.resources.stress.value}}'
                min="0"
                max='{{document.system.resources.stress.max}}'
                style='--value: {{document.system.resources.stress.value}}; --max: {{document.system.resources.stress.max}};'
                aria-label='{{localize "DAGGERHEART.GENERAL.stress"}}'
            ></progress>
            <div class="status-label">
                <h4>{{localize "DAGGERHEART.GENERAL.stress"}}</h4>
            </div>
        </div>
        {{/if}}
    </div>
    <div class="companion-navigation">
        {{> 'systems/daggerheart/templates/sheets/global/tabs/tab-navigation.hbs'}}
        <button type="button" data-action="openSettings" data-tooltip-text="{{localize "DAGGERHEART.UI.Tooltip.openSheetSettings"}}">
            <i class="fa-solid fa-wrench"></i>
        </button>
    </div>
</header>
